<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpr.lib_camera2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application>
        <activity android:name=".activities.ShowImageActivity"></activity>
        <activity android:name=".activities.GalleryActivity" />
        <activity android:name=".activities.CameraActivity" />
    </application>

</manifest>